@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif !important;
	color: #000000 !important;
	margin: 0;
	padding: 0;
	background-color: #eeeeee !important;
}

/* Login */

.sl-login-main .sl-main-row {
	height: 100vh;
}

.sl-login-left {
    background-color: #243a20;
	background-repeat: no-repeat;
  	background-position: bottom right;
	background-size: contain;

	color: #FFFFFF;
}

.sl-login-right {
	background-image: url("../img/defaults/login.png");
    background-repeat: no-repeat;
	background-size: cover;
}

.sl-register-right {
	background-image: url("../img/defaults/register.png");
    background-repeat: no-repeat;
	background-position: bottom center;
	background-size: cover;
}

/* Header */

.sl-header {
	background-color: #314d2c;
	position: sticky !important;
	z-index: 99 !important;
	top: 0;
	height: 56px;
}

/* Side Bar */

.header_box {
	background-color: #243a20;	
	height: 56px;
}

.current-user img {
	object-fit: cover;
	width: 100px;
	height: 100px;
}

.current-name {
	margin-bottom: -0.1em;
}

.sidebar {
	z-index: 999 !important;
}

#side_nav {
	background-color: #243a20;

	background-image: url("../img/logo/arch_nav_1.png");
	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-position: bottom left;
	
	min-width: 250px;
	max-width: 250px;
	transition: all 0.2s ease;

	overflow-y: auto;
	overflow-x: hidden;

	&::-webkit-scrollbar {
		background-color: transparent;
		width: 0px;
	  }
}

#side_nav .close-btn {
	display: none;
}

#side_nav .bta-logo {
	width: 13em;
}

.sidebar li a {
	text-align: left;
}

#side_nav:hover {
	&::-webkit-scrollbar {
		width: 6px;
	}
}

@media (hover: none) {
	&::-webkit-scrollbar {
		width: 8px;
	}
}

#side_nav .label {
	display: initial;
}

@media(max-width: 3840px) {
	#side_nav.toggled {
		margin-left: 0;

		min-width: 70px;
		max-width: 70px;
	
		overflow-y: auto;
	}

	#side_nav.toggled .current-user img {
		object-fit: cover;
		width: 40px;
		height: 40px;
	}

	#side_nav.toggled .bta-tickets-menu {
		pointer-events: none;     
	}

	#side_nav.toggled .bta-logo {
		width: 9em;
	}

	#side_nav.toggled .label {
		display: none;
	}
	
	#side_nav.toggled .bta-tickets-menu {
		pointer-events: all;
		opacity: 1;
	}

	&::-webkit-scrollbar {
		background-color: transparent;
		width: 0px;
	  }

	#side_nav.toggled:hover {
		&::-webkit-scrollbar {
			width: 6px;
		}
	}
}

@media(max-width: 1500px) {
	#side_nav {
		margin-left: -250px;
		position: fixed;
		min-height: 100vh;
		z-index: 999;
	}

	#side_nav .close-btn {
		display: initial;
	}

	#side_nav.toggled {
		margin-left: 0;

		min-width: 250px;
		max-width: 250px;
	
		overflow-y: auto;
	}

	#side_nav.toggled .bta-tickets-menu {
		pointer-events: all;
	}

	#side_nav.toggled .bta-logo {
		width: 13em;
	}

	#side_nav.toggled .label {
		display: initial;
	}

}

.sidebar li {
	padding: 5px;
	margin: 3px;
	font-size: 13px;
	font-weight: 600;
}

.sidebar li.active {
	background-color: #34662c;
	border-radius: 10px;
}

.sidebar li.active a, .sidebar li.active a:hover {
	color: #FFFFFF !important;
}

.sidebar li:hover {
	background-color: #34662c;
	border-radius: 10px;
	color: #FFFFFF !important;
}

.sidebar li:hover a {
	color: #FFFFFF !important;
}

.sidebar li a {
	color: #FFFFFF;
	text-align: left;
	animation:  transitionSide 0.50s;
}

.category-nav ul a.nav-link {
	color: #000000;
	text-decoration: none;
	font-weight: 600;
}

.category-nav ul a.nav-link:hover {
	transition: .2s;
	background-color: #243a20;
	color: #FFFFFF;
}

.category-nav ul a.active {
	background-color: #34662c !important;
	color: #FFFFFF !important;
}

.add-resource {
	padding: 75px 0;
	text-align: center;
	font-size: 100px;
}

/* Page Navigation */

.bta-page-symbol {
	background-color: #000000;
	color: #f5bb00;

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 20%;
	
	width: 1.8em;
	height: 2em;
	margin: 0 auto 0;
	font-size: 1.2em;
}

/* Accordion */

.accordion-button {
	&:not(.collapsed) {
		background-color: #101010 !important;
		color: #f5bb00 !important;
		font-weight: bold;
	}
	
	&:not(.collapsed)::after { 
		background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23f5bb00'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
	}
}

/* Footer */

.sl-footer-main {
	background-color: #0e160d;
	overflow: hidden;
	width: 100%;
	color: #FFFFFF;
	padding: 20px;
	font-size: 13px;
}

.sl-footer-main h5 {
	font-size: 15px;
}

/* Components */

.card {
	border-radius: 15px !important;
	margin-bottom: 30px;
	border: none !important;
}

.card-footer {
	border-top: none !important;
}

.card-thumbnail {
    max-height: 150px;
    overflow: hidden;
}

.card-thumbnail:hover {
    opacity: 0.8;
    transition: 0.4s all;
}

.card-thumbnail-left {
    max-width: 300px;
	max-height: 300px;
    overflow: hidden;
	border-radius: 15px;
}

.card-thumbnail-left img {
	width: 300px;
	height: 300px;
	object-fit: cover;
	object-position: 50% 100%;
}

.card-thumbnail-left:hover {
    opacity: 0.8;
    transition: 0.4s all;
}

.course-heading, .profile-heading {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-radius: 10px;
	color: #FFFFFF;
}

.course-header-preview {
	object-fit: cover;
	width: 200px;
	height: 200px;
}

.profile-banner img {
	object-fit: cover;
	width: 150px;
	height: 150px;
}

.profile-current-preview {
	object-fit: cover;
	height: 100px;
	width: 100px;
}

.field-req label:after {
    color: #e32;
    content: ' *';
    display: inline;
	font-weight: bold;
}

.verify-icon {
	font-size: 15px;
}

.header-user .dropdown-menu {
	background-repeat: no-repeat;
  	background-position: bottom right;
	background-size: contain;

	width: 300px;
}

.header-avatar {
	width: 30px;
	height: 30px;
	object-fit: cover;
}

.header-avatar-inside {
	width: 70px;
	height: 70px;
	object-fit: cover;
}

textarea {
	resize: none !important;
}

.modal-open {
	padding-right: 0 !important;
	overflow-y: auto;
}

.modal-body {
	background-image: url("../img/logo/arch_maintenance.png");
	background-repeat: no-repeat;
  	background-position: bottom right;
	background-size: 450px;
}

.modal-scroll {
	max-height: 350px; 
	overflow-y: auto;
	background-color: #f5f5f5;
	padding: 20px;
	border-radius: 10px;
}

/* Table */

.sl-table {
	font-size: 14px;
}

.sl-table th {
	background-color: #243a20 !important;
	color: #FFFFFF !important;
}

/* Pagination */
.page-item.active .page-link, .page-item.active:hover .page-link {
	color: #FFFFFF !important;
	background: #4f7948 !important;
	border-color: #4f7948 !important;
}

.page-item.disabled .page-link {
	background-color: #243a20 !important;
	border-color: #243a20 !important;
	font-weight: 800;
}

.pagination .page-link {
	background-color: #243a20;
	border-color: #243a20;
    color: #FFFFFF;
	font-weight: 600;
}

.pagination .page-link:hover, .pagination .page-link:focus {
	background-color: #0e160d;
    color: #FFFFFF;
   	border-color: #0e160d !important;
}

.bta-btn-correspondence {
	background-color: #f5bb00 !important;
	color: #000000 !important;

	position: fixed;
	opacity: 0.9;
	
	right: 40px;
	bottom: 40px;
}

/* Offcanvas */
.settings-footer {
	background-color: #353535;
}

.correspond-footer {
	background-color: #353535;
}

.correspond-footer textarea, .correspond-footer textarea:focus {
	background-color: #505050;
	color: #FFFFFF;
	border: none;
	font-size: 14px;
}

.correspond-msg h6 {
	font-size: 13px;
}

.correspond-msg small {
	font-size: 11px;
}

.msg-sent-bg {
	background-color: #534310;
}

.msg-from-bg {
	background-color: #303030;
}

.msg-date {
	font-size: 14px;
}

.correspond-avatar {
	width: 35px;
	height: 35px;
	object-fit: cover;
}

.bta-offcanvas-window {
	background-color: #202020 !important;
	color: #FFFFFF !important;
}

/* Scrollbar */

::-webkit-scrollbar {
	height: 10px;
    width: 10px;
}

::-webkit-scrollbar-track {
    border: 7px solid #0a0a0a;
    box-shadow: inset 0 0 2.5px 2px rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
    background-color: #69a960;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #90d486;
    border-radius: 3px;
}

@media(max-width: 767px) {
	.time {
		display: none;
	}
}

.breadcrumb a {
	color: #000000;
	text-decoration: none;
	font-weight: 600;
	font-size: 14px;
}

.breadcrumb a:hover, .breadcrumb .active a:hover {
	color: #78a570;
}

.breadcrumb .active a {
	color: #375c31;
	font-weight: 800;
}

/* Animations */

@keyframes transitionSide {
	from {
		opacity: 0;
		transform:  rotateX(-20deg);
	}

	to {
		opacity: 1;
		transform: rotateX(0);
	}
}